<div class="placeholder">
  <div class="parallax-window" data-parallax="scroll" style="background-image: url('../assets/template/img/simple-house-01.jpg');" data-image-src="../assets/template/img/simple-house-01.jpg">
    <div class="tm-header">
      <div class="row tm-header-inner">
        <div class="col-md-6 col-12">
          <img src="../assets/template/img/simple-house-logo.png" alt="Logo" class="tm-site-logo" />
          <div class="tm-site-text-box">
            <h1 class="tm-site-title">Simple House</h1>
            <h6 class="tm-site-description">new restaurant template</h6>
          </div>
        </div>
        <nav class="col-md-6 col-12 tm-nav">
          <ul class="tm-nav-ul">
            <li class="tm-nav-li"><a routerLink="/home" class="tm-nav-link active">Acceuil</a></li>
            <li class="tm-nav-li" *ngIf="isLoggedIn"><a routerLink="/ajouter" class="tm-nav-link">Ajouter Local</a></li>
            <li class="tm-nav-li" *ngIf="isLoggedIn"><a routerLink="/listUser" class="tm-nav-link">Louer</a></li>
            <li class="tm-nav-li" *ngIf="isLoggedIn"><a (click)="logout()" routerLink="/home" class="tm-nav-link">Déconnexion</a></li>

            <li class="tm-nav-li" *ngIf="!isLoggedIn"><a routerLink="/login"  class="tm-nav-link">connexion</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
